html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.table {
  display: table;
  border: 1px solid #dddddd;
  border-radius: 5px; 
  margin: 15px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 800px;
}
.header-list{
  display: flex;
  justify-content: center;
  align-items: center;
   border-bottom: 1px solid lightgrey; 
   font-weight: 700;
}

.header-list:hover,
.header-list:focus {
  background-color: lightgray;
}

.content-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray; 
  color: rgb(49, 47, 47);
}

.content-list:hover,
.content-list:focus {
  background-color: lightgray;
}


.content-item, .header-item{
  padding: 20px 15px;
  text-align: left;
  width: 100%;
}


