html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

#wrapper {
  display: table;
  border: 1px solid #dddddd;
  border-radius: 5px;
  margin: 15px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 1000px;
}

.header-row {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid lightgrey;
  font-weight: 700;
  width: 1000px;
}

div.id-column {
  width: 60px;
  padding: 20px 10px;
  text-align: left;
  margin-right: 75px;
}

div.id-column-header {
  width: 60px;
  padding: 20px 10px;
  text-align: left;
}

.table-row {
  /* padding: 5px; */

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-bottom: 1px solid lightgray;
  color: rgb(49, 47, 47);
}

.table-row:hover,
.table-row:focus {
  background-color: lightgray;
}

.header-column{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.table-column,
.header-column {
  
  padding: 20px 10px;
  text-align: left;
  width: 100%;
}

.id::before {
  content: "";
  position: absolute;
  left: 30px;
  bottom: 27px;
  width: 17px;
  height: 2px;
  background-color: lightgray;
  border-radius: 5px;
  transform: rotate(90deg);
}

.name::before {
  content: "";
  position: absolute;
  left: 123px;
  bottom: 27px;
  width: 17px;
  height: 2px;
  background-color: lightgray;
  border-radius: 5px;
  transform: rotate(90deg);
}

.iso::before {
  content: "";
  position: absolute;
  left: 297px;
  bottom: 27px;
  width: 17px;
  height: 2px;
  background-color: lightgray;
  border-radius: 5px;
  transform: rotate(90deg);
}

.phone-code::before {
  content: "";
  position: absolute;
  left: 472px;
  bottom: 27px;
  width: 17px;
  height: 2px;
  background-color: lightgray;
  border-radius: 5px;
  transform: rotate(90deg);
}

.currency::before {
  content: "";
  position: absolute;
  left: 647px;
  bottom: 27px;
  width: 17px;
  height: 2px;
  background-color: lightgray;
  border-radius: 5px;
  transform: rotate(90deg);
}

.capital::before {
  content: "";
  position: absolute;
  left: 821px;
  bottom: 27px;
  width: 17px;
  height: 2px;
  background-color: lightgray;
  border-radius: 5px;
  transform: rotate(90deg);
}

.capital::after {
  content: "";
  position: absolute;
  left: 980px;
  bottom: 27px;
  width: 17px;
  height: 2px;
  background-color: lightgray;
  border-radius: 5px;
  transform: rotate(90deg);
}

.fa-arrow-up {
  color: lightgray;
  font-size: 15px;
  width: 15px;
  height: 15px;
  text-align: center;
}

.fa-ellipsis-v {
  padding-right: 20px;
  color: lightgray;
  font-size: 15px;
  width: 15px;
  height: 15px;
  text-align: center;
}

.hidden {
  display: flex;
  justify-content: space-between;
  opacity: 0;
}

.hidden:hover {
  opacity: 1;
}

.input {
  margin-left: 10px;
  margin-right: 10px;
  color: #3a3838;
  cursor: pointer;
}

.button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  border-color: transparent;
}

.button-wrapper{
  width:60px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  opacity: 0;
}

.button-wrapper:hover{
  opacity: 1;
}
